html,
body {
  height: 100%;
  margin: 0;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
