/* tournament */
.bracket {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 0;
}

.bracket .round {
  display: inline-block;
  vertical-align: middle;
}
.bracket .round .matches > div {
  display: inline-block;
  vertical-align: middle;
}
.bracket .round .matches > div.matchups .matchup:last-child {
  margin-bottom: 0 !important;
}
.bracket .round .matches > div.matchups .matchup .participants {
  border-radius: 0.25rem;
  overflow: hidden;
}
.bracket .round .matches > div.matchups .matchup .participants .participant {
  box-sizing: border-box;
  color: #858585;
  border-left: 0.25rem solid #858585;
  background: white;
  width: 14rem;
  height: 3rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
.bracket
  .round
  .matches
  > div.matchups
  .matchup
  .participants
  .participant.winner {
  color: #60c645;
  border-color: #60c645;
}
.bracket
  .round
  .matches
  > div.matchups
  .matchup
  .participants
  .participant.loser {
  color: #dc563f;
  border-color: #dc563f;
}
.bracket
  .round
  .matches
  > div.matchups
  .matchup
  .participants
  .participant:not(:last-child) {
  border-bottom: thin solid #f0f2f2;
}
.bracket .round .matches > div.matchups .matchup .participants .participant {
  display: flex;
  justify-content: space-between;
}
.bracket
  .round
  .matches
  > div.matchups
  .matchup
  .participants
  .participant
  span {
  margin: 0 1.25rem;
  line-height: 3;
  font-size: 1rem;
  font-family: "Roboto Slab";
  text-align: right;
  width: 80;
}
.bracket .round .matches > div.connector.filled .line,
.bracket .round .matches > div.connector.filled.bottom .merger:after,
.bracket .round .matches > div.connector.filled.top .merger:before {
  border-color: #60c645;
}
.bracket .round .matches > div.connector .line,
.bracket .round .matches > div.connector .merger {
  box-sizing: border-box;
  width: 2rem;
  display: inline-block;
  vertical-align: top;
}
.bracket .round .matches > div.connector .line {
  border-bottom: thin solid #c0c0c8;
  height: 4rem;
}
.bracket .round .matches > div.connector .merger {
  position: relative;
  height: 8rem;
}
.bracket .round .matches > div.connector .merger:before,
.bracket .round .matches > div.connector .merger:after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  border: 0 solid;
  border-color: #c0c0c8;
}
.bracket .round .matches > div.connector .merger:before {
  border-right-width: thin;
  border-top-width: thin;
}
.bracket .round .matches > div.connector .merger:after {
  border-right-width: thin;
  border-bottom-width: thin;
}
.bracket .round-1 .matches:not(:last-child) {
  margin-bottom: 2rem;
}

.bracket .round-1 .matches .matchups .matchup:not(:last-child) {
  margin-bottom: 2rem;
}

.bracket .round-2 .matches .matchups .matchup:not(:last-child) {
  margin-bottom: 10rem;
}

.bracket .round-2 .matches .connector .merger {
  height: 16rem;
}

.bracket .round-2 .matches .connector .line {
  height: 8rem;
}

.bracket .round-3 .matches .connector .merger {
  height: 3rem;
}

.bracket .round-3 .matches .connector .line {
  height: 1.5rem;
}
/* general */
body {
  margin: 0;
  padding: 0;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
