/* tournament */
.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  list-style: none;
  padding: 0;
}
.round .spacer {
  flex-grow: 1;
}
.round .spacer:first-child,
.round .spacer:last-child {
  flex-grow: 0.5;
}

.round .game-spacer {
  flex-grow: 1;
}

li.game {
  padding-left: 20px;
}

li.game.winner {
  font-weight: bold;
  border-bottom: 5px solid black;
}

li.game.loser {
  color: red;
  border-bottom: 5px solid red;
}

li.game span {
  float: right;
  margin-right: 5px;
}

li.game-spacer {
  border-right: 5px solid black;
  min-height: 50px;
}


/* general */
body {
  margin: 0;
  padding: 0;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}