.hidden {
    display: none;
}

body, html {
	height: 100%;
    font-size: 1.2em; /* 全体のフォントサイズを大きくする */
    display: flex;
    justify-content: center;
	text-align: center;
}


.button {
	padding: 20px 40px; /* ボタンの内側の余白を大きくする */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#timer, #word, #score, #input {
    font-size: 1.5em;
    text-align: center;
}
